<?xml version="1.0" encoding="UTF-8"?>
<WebClient>
   <RunMode>1</RunMode>
   <AppURLs>
      <URL>http://URL.com/app/url</URL>
      <URL>http://URL.com/app/url</URL>
   </AppURLs>
   <ProxyConfig>
      <Server>Server</Server>
      <Port>port</Port>
      <UserName>username</UserName>
      <UserPassword>password</UserPassword>
   </ProxyConfig>
   <FileConfig>
      <CertificatePath>D:/WebClient/certificate/client.pfx</CertificatePath>
      <CertificatePassword>password</CertificatePassword>
      <InputFilePath>D:/WebClient/input/</InputFilePath>
      <OutputFilePath>D:/WebClient/output/</OutputFilePath>
   </FileConfig>
   <SSLProtocol>
      <Version>SSL</Version>
      <Version>TLS 1.0</Version>
      <Version>TLS 1.1</Version>
      <Version>TLS 1.2</Version>
   </SSLProtocol>
</WebClient>